<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2>Ofrecer Una Tutor&iacutea</h2>
            <p class="lead">Por favor ingresa la informaci&oacuten completa de la tutor&iacutea que deseas ofrecer</p>
        </div>
        <div class="row contact-wrap">
            <form id="form_create_tutorial" name="form_create_tutorial" ng-submit="create()">
                <fieldset>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group" ng-class="{'has-error': course.$invalid}">
                            <label>Curso:</label>
                            <input type="text" name="course" class="form-control" required ng-model="newTutorial.course">
                        </div>
                        <div class="form-group">
                            <label>Lugar:</label>
                            <input type="text" name="location" class="form-control" required ng-model="newTutorial.location">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Profesor del curso:</label>
                            <input type="text" name="original_professor" class="form-control" required ng-model="newTutorial.original_professor">
                        </div>
                        <div class="form-group">
                            <label>Capacidad (Entre 1 y 20 estudiantes):</label>
                            <input type="number" name="capacity" class="form-control" required ng-model="newTutorial.capacity" min="1" max="20">
                        </div>
                    </div>

                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            <label>Fecha:</label>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy"
                                       ng-model="newTutorial.date" is-open="opened" datepicker-options="dateOptions"
                                       min-date="today" ng-required="true" current-text="Hoy" clear-text="Limpiar", close-text="Cerrar"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label>Hora de Inicio:</label>
                            <timepicker name="time" ng-model="newTutorial.time" hour-step="1" minute-step="1" show-meridian="true" correct-time>

                            </timepicker>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Hora de Finalizaci&oacuten:</label>
                            <timepicker ng-model="newTutorial.end_time" hour-step="1" minute-step="1" show-meridian="true" correct-end-time>

                            </timepicker>
                        </div>
                    </div>

                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            <label>Observaciones adicionales:</label>
                            <textarea type="text" name="comments" class="form-control" required rows="5" ng-model="newTutorial.comments">
                            </textarea>
                        </div>
                    </div>

                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" ng-disabled="form_create_tutorial.$invalid">
                                Publicar oferta
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>