<div class="modal-content">
    <br>
    <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#signin" data-toggle="tab">Ingresar</a></li>
            <li class=""><a href="#signup" data-toggle="tab">Registrarse</a></li>
        </ul>
    </div>
    <div class="modal-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="signin">
                <form name="login_form" class="form-horizontal">
                    <fieldset>
                        <!-- Sign In Form -->
                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="userid">Usuario:</label>
                            <div class="controls">
                                <input required id="userid" name="userid" type="text" class="form-control" placeholder="Correo" class="input-medium" ng-model="student.email">
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="control-group">
                            <label class="control-label" for="passwordinput">Contraseña:</label>
                            <div class="controls">
                                <input required id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="Contraseña" class="input-medium" ng-model="student.password">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="control-group">
                            <label class="control-label" for="signin"></label>
                            <div class="controls">
                                <button id="confirmsignin" name="signin" class="btn btn-success" ng-click="login()" ng-disabled="login_form.$invalid">Ingresar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="tab-pane fade" id="signup">
                <form name="signup_form" class="form-horizontal">
                    <fieldset>
                        <!-- Sign Up Form -->
                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="Email">Correo:</label>
                            <div class="controls">
                                <input id="Email" name="Email" class="form-control" type="text" placeholder="Correo" class="input-large" required ng-model="student.email">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="name">Nombre:</label>
                            <div class="controls">
                                <input required id="name" name="name" type="text" class="form-control" placeholder="Nombre completo" class="input-medium" ng-model="student.name">
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="control-group">
                            <label class="control-label" for="password">Contraseña:</label>
                            <div class="controls">
                                <input id="password" name="password" class="form-control" type="password" placeholder="1-8 caracteres" class="input-large" required ng-model="student.password">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="reenterpassword">Confirmar contraseña:</label>
                            <div class="controls">
                                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="Ingresar de nuevo la contraseña" class="input-large" required ng-model="student.password_confirmation">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="major">Departamento:</label>
                            <div class="controls">
                                <input id="major" class="form-control" name="major" type="text" placeholder="Sistemas" class="input-large" required ng-model="student.major">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="control-group">
                            <label class="control-label" for="confirmsignup"></label>
                            <div class="controls">
                                <button id="confirmsignup" name="confirmsignup" class="btn btn-success" ng-click="register()" ng-disabled="signup_form.$invalid">Registrarse</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <center>
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cerrar</button>
        </center>
    </div>
</div>