<!DOCTYPE html>
<html>
<head>
  <title>TutoriasCEU</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
  -->
</head><!--/head-->

<body class="homepage", ng-app = 'tutoriasCEU'>

<div ng-include="'nav/_nav.html'"></div>

<ui-view></ui-view>

<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div>
        &copy; 2015 <a target="_blank" href="https://www.facebook.com/ACMUniandes" title="ACM Uniandes">ACM Uniandes</a>. Todos los derechos reservados.
      </div>
      <!--<div class="col-sm-6">
        <ul class="pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Faq</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>-->
    </div>
  </div>
</footer><!--/#footer-->
</body>
</html>